Repository LutzenH/ProjectEmbeddedSystems, pull requests merged in 2019-11, with the labels that each got.

#12 Added ISR for receiving data
  Unit/src/Header Files/serial.h
  Unit/src/UART.c
  Unit/src/main.c
  Unit/src/serial.c
Labels: unit

#13 Implemented scheduler
  Unit/src/Header Files/UART.h
  Unit/src/Header Files/main.h
  Unit/src/Header Files/portManipulator.h
  Unit/src/Header Files/rollerShutter.h
  Unit/src/Header Files/sensors.h
  Unit/src/Header Files/serial.h
  Unit/src/UART.c
  Unit/src/main.c
  Unit/src/portManipulator.c
  Unit/src/rollerShutter.c
  Unit/src/scheduler.c
  Unit/src/sensors.c
  Unit/src/serial.c
Labels: unit

#15 Added a decoder to serialcontrol
  Basestation/serialcontrol/datareader.py
  Basestation/serialcontrol/debugmenu.py
  Basestation/serialcontrol/serialcontrol.py
Labels: basestation

#19 Changed the invalid sensor reading value in multiple files
  Unit/src/Header Files/sensors.h
  Unit/src/main.c
  Unit/src/sensors.c
  Unit/src/userPreferenceHandler.c
Labels: enhancement, unit
